@using System.Globalization
@using static CleverWeb.Data.Shared.Enums
@model CleverWeb.Features.Contribuicao.ViewModels.ContribuicaoViewModel

@{
    ViewData["Title"] = @ViewBag.Membro;
}

<h2>@ViewBag.Membro</h2>

<div class="">
    <div class="">
        <dl class="">
            <dt class="col-sm-3">Tipo de Contribuição</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TipoContribuicao)
            </dd>

            <dt class="col-sm-3">Forma de Pagamento</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FormaPagto)
            </dd>

            <dt class="col-sm-3">Valor</dt>
            <dd class="col-sm-9">
                @Model.Valor.ToString("C", CultureInfo.GetCultureInfo("pt-BR"))
            </dd>

            <dt class="col-sm-3">Data de Pagamento</dt>
            <dd class="col-sm-9">
                @Model.DataPagamento.ToString("dd/MM/yyyy")
            </dd>
        </dl>
    </div>
</div>

<div class="container-fluid d-flex justify-content-between align-items-center align-baseline mt-3">
    <a asp-action="Index" asp-controller="Contribuicao" class="btn btn-secondary me-2">Voltar</a>
    <a asp-action="Edit" asp-controller="Contribuicao" asp-route-id="@Model.Id" class="btn btn-danger">Extornar</a>
</div>